.visible-xl {
  display: none;
}

#toTop {
  position: fixed;
  bottom: 25px;
  right: 25px;
  font-size: 24px;
  cursor: pointer;
  color: $black;
  text-align: center;
  text-transform: uppercase;
  transition: .25s color ease-in;
  &:hover {
    color: $black;
  }
}