// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$black: rgb(0,0,0);
$white: rgb(255,255,255);

//Social Network Colors
$facebook: rgb(59, 89, 152);
$twitter: rgb(85, 172, 238);
$google-plus: rgb(221, 75, 57);
$yelp: rgb(175,6,6);
$youtube: rgb(187, 0, 0);
$linkedin: rgb(0, 123, 181);
$instagram-orange: rgb(233, 89, 80);
$instagram-blue: rgb(18, 86, 136);
$pinterest: rgb(203, 32, 39);
$rss: rgb(255, 102, 0);