@import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
// endbower

@import "common/mixins";
@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "components/socialicons";
@import "components/nav";
@import "layouts/sidebar";
@import "layouts/header";
@import "layouts/footer";
@import "layouts/home";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";

/* Extra Large Devices, Wide Screens */
@media only screen and (min-width : 2000px) {
  @import "breakpoints/xlarge";
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  @import "breakpoints/large";
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  @import "breakpoints/medium";
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  @import "breakpoints/small";
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  @import "breakpoints/xsmall";
}
