.copy {
  padding: 10px 0;
  
  p {
    text-align: center;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;

    a {
      color: $black;
      &:hover {
        color: $black;
      }
    }
  }
}
