.page-header {
  position: relative;
  padding-bottom: 0;
  margin: 0;
  border-bottom: none;

  img {
    width: 100%;
    z-index: 0;
  }

  .header-content {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }
}